language: android
jdk: oraclejdk8
branches:
  only:
    - master
    - /^v\d+\.\d+\.\d+$/
env:
  global:
    - secure: "pus/Wv/014aNnUbUDNBpAk12o3w/zEO+/0oPomdnFs5034tsUOk53VbV69qKdWGKtH8Gm9LGBL50GLjSiB9Cxnc66BCPGj1ykBQ8RGGG/KHTDg22fuRVXmrSbEc+SqjwhpyUTpFjTf9RDmR2qlh427RbGofaNmkv7ePX14OHDjfVJW39jVNJv6+Jluyuh98zGpEbKq1SW+kNJsXUJMQjBtgyaQWN0qIjWflZWv4Rn97vxhyxFtRdGtJl1qCyhAcoIXNJyiYuabn/7sGsv4BjjmVBpFOU9npeJ/uMoXv8HQitjmV5wF9vq3VjmdPua9mrJwqG8BvREEA6r/Hj6vPpm0+qM62bDxpINZX3c9CjrvauaMeNSx3rfxK2yYfYO+f7cVaf0hsYS/pc9Pk0LeJy2FhycBt+WNlj/HSFu5Cvmh38kAj6Dm4HveF/CGFuhXYJAGr8IVH7aCPUeEC6JJLEoylNLglasitvNnfi/5f/smJWGf6e/XhFpAjlhoztRv6Hq7yRX3KZWWYmdl5blrsf6OWv7Z3R60IXfe4caPGMuBZNHToUyRmDfk89GXIJWTmVL4NLYSfO7fSaZ0YJ7nkDhoAgW/oRJuqEdbD404Sfzjp/o9YI6GoU9nxWD/RGRY/PGZ1pQs9djI6wny93kV/Y5W1h9BslEiKf1cxzj337M5s="
    - secure: "pqbCHzhC2ePQt22kFqwA5RqQiJiQmlT8BEv5cPn84FVtGX0x1Qaw6NQ9k5ap2h/KGD0Axif5AdpruYRp4bicpscYOMLpk4fznXkNAX6U6MaQXR0ITgC2JTDtAZnAYuXo377uvdtHT0zPPfv/9mv5qY1bKdaCcRCSL8GX60ywf1YspJZNo7gC9yDZ6TiGTFTKycQqx1lPuPvtTopbp9oP6gDTnGhHDCrnn4Xi1NyyFnKJYVqaHSR25WgWAevNLnOA1Rbc7T67mrzzfeVv6wgS5+lJOuLCY1OgUwGrNmfqKVL67vUWYm5KuGFuHrV5pSiL6Y0CzJuI5gQl4H2h5tpadaEqOV5PswaWbqRW3aQGMsOKsLwv0oJIBcjE0NjkMx4Jusa7f1ofBkXWN2S8ozPDF8oVpJohzl8p2Fnhdrj+2f0eR+MBWFagWFwFeEKFGB1HDqF+XDQW21/Mar6nKc4tj2/wEtBcwfXL0Jo4c6O1GrUanyXLh4fXxIyuetoYIqwkG6hAvshXyoe0RP6UdifWiWnyEKu5Db6JV8IzjuR1QHCbcXjtXpl7Z6JodkRMw5bQzW9rrXTybRqK+ha+p3e/d1iynhjerxzavMadqSamWv02wQYD+vmeuf58SwZcy6XJJtJZ4M6yVL8msiVpsxpX/ln1jWHFEUKwJRRxKBkTHZo="
android:
  components:
  - tools
  - tools
  - platform-tools
  - build-tools-27.0.3
  - android-25
  - extra
  - addon

  licenses:
    - 'android-sdk-license-.+'

script:
  - ./gradlew build bintrayUpload -PbintrayUser=dryrun-user -PbintrayKey=dryrun-key -PdryRun=true
deploy:
  - provider: script
    script: scripts/bintrayUpload.sh
    skip_cleanup: true
    on:
      tags: true
